---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Rural Glass Design" description="About the artist">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Abigail"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/Head_Shot.jpg"
					alt="A photo of Abigal in a pink blazer"
				/>
			</Hero>

			<section>
				<h2 class="section-title">About me</h2>
				<div class="content">
					<p>Welcome! I’m Abigail, the artist behind Rural Glass Design. With a love for rural scenes, and animals, I’ve dedicated my free time to designing and creating one-of-a-kind stained glass pieces. Sometimes that free time is only in the middle of the night as I keep a busy schedule working full-time while being a mom to my three children. Having this creative outlet is something that brings me so much joy and satisfaction.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">My Journey</h2>
				<div class="content">
					<p>My journey into stained glass design started in May of 2024, when my friend shared this amazing art form with me by giving me a crash course one weekend. I was instantly hooked and had purchased the supplies needed to continue at my home before I even completed my first design. Each piece I create reflects my love for creating and bringing art to life. Stained glass has a timeless beauty that’s unlike any other art form I have explored and being able to learn this craft that will live on past me has been an incredible experience.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">What I Do</h2>
				<div class="content">
					<p>At Rural Glass Design I specialize in custom stained glass creations. My work is inspired by my childhood, growing up on a farm in the rural Midwest, and my love for animals, but especially pets and farm livestock. I also love being able to create pieces as from literary scenes and fantasy worlds as well. I take great pride in offering a personalized experience for each client. Every piece I create is my own unique design and tailored to meet your vision, whether you're looking for something to have in memory of a loved one, pet or a favorite childhood story and anything in between.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Let's Work Together</h2>
				<div class="content">
					<p>If you're ready to bring color, creativity, and light into your space with custom stained glass, I’d love to collaborate with you on your own unique piece. Please don’t hesitate to reach out for a consultation or to learn more about how I can help bring your vision to life.</p>
				</div>
				<div class="content">
					<p>Thank you for visiting my site, and I look forward to creating something special with you.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
